body {
  background-color: #fbfaff;
}

.homepage-container {
  padding: 144px 0px;
  max-width: 1288px;
  margin: 0 auto;
}

.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 64px;
}

.header-container img {
  width: 624px;
  height: 200px;
}

.homepage-header {
  color: #1a1a1f;
  font-size: 64px;
  font-style: normal;
  font-weight: 700;
  line-height: 72px;
}

.filters {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 24px;
}

.filters a,
.blogs a {
  text-decoration: none;
  border: none;
  border-radius: 30px;
  cursor: pointer;
  padding: 8px 16px;
}

.blogs-container {
  display: flex;
  align-items: flex-start;
  align-content: flex-start;
  gap: 56px 32px;
  flex-wrap: wrap;
  margin-top: 64px;
}

.blogs img {
  border-radius: 12px;
  width: 408px;
  height: 328px;
  margin-bottom: 24px;
}

.blogs {
  width: 408px;
}

.blog-author {
  color: #1a1a1f;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 20px;
}

.blog-time {
  color: #85858d;
  margin: 8px 0 16px 0;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 16px;
}

.blog-title {
  color: #1a1a1f;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: 28px;
  margin-bottom: 16px;
}

.blog-tags {
  display: flex;
  align-items: flex-start;
  gap: 16px;
  flex-wrap: wrap;
}

.blogs-desc {
  color: #404049;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 28px;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 3; /* Number of lines to display */
  -webkit-box-orient: vertical;
  text-overflow: ellipsis;
  margin-top: 16px;
}

.blog-a {
  color: #5d37f3;
  font-family: FiraGO;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 20px;
  display: flex;
  padding: 0px !important;
  margin-top: 16px;
}

.blog-a img {
  width: 20px;
  height: 20px;
}
